
<html>
	<head>
		<title>Add Guide</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="hover.css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	</head>

	<body class="subpage">

		<!-- Header -->
			<header class = "header-user-dropdown" id="header">
        <div class="inner">
          <a href="index" class="logo"><strong>Commuteny Forum</strong></a>
          <nav id="nav">
						<div class = "header-limiter">
            <a href="about">About</a>
            <a href="view-guides"> Forum </a>
						<a href="/login">
                <%= current_user.fname%> <%= current_user.lname %>
            </a>


          <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
      </header>

			<!-- BODY -->
			<section id="one" class="wrapper">
				<div>
					<header class="align-center">


          <h3><strong>Edit Comment</strong></h3>
					</header>
					<!-- ADD GUIDE FORM -->
          <form action="/edit-comment" name="add-comment" method="post" encType="multipart/form-data">
            <input type="text" name="comment" align = "center" value="<%= comment.comment %>" style="width:500px; height:50px;"><br>
            <input type="file" accept="image/*" name="image" onchange="chooseFile()"><br><br>
            <input type="hidden" name="id" value="<%= comment._id %>">
            <input type="hidden" name="guide_id" value="<%= comment.guide %>">
            <button type="submit">Update Comment</button>
        </form>
			</section>

	</body>
</html>
